@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <h1 class="text-center text-purple">Produtos</h1>

    <partial name="ProductsList" model="Model">

</div>