@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h1 class="text-center text-purple">Ecommerce Lite</h1>
           
    <partial name="ProductsList" model="Model">   
    <div class="text-center mt-4">
        <a asp-action="Index" asp-controller="Product" class="bg-blue text-light p-3 rounded-pill d-inline-block text-decoration-none">Ver Mais</a>
    </div>
</div>
