@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut lectus semper, mollis eros quis, varius magna. Sed ac sodales massa, nec facilisis magna. Praesent cursus fermentum venenatis. Cras fringilla blandit nibh, a varius est molestie et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed leo neque, venenatis vel ante non, sagittis eleifend odio. Fusce pharetra, libero sed pretium ornare, odio nulla convallis nibh, ultrices semper orci justo ac orci.</p>

        <p>Mauris faucibus blandit orci, at fringilla quam eleifend vitae. Duis vestibulum condimentum risus consectetur tincidunt. Phasellus vitae velit quam. Nullam finibus bibendum dolor tempus vulputate. Phasellus tellus sem, porta at pulvinar ac, cursus in nunc. Praesent feugiat urna at congue fermentum. Donec id orci a neque vestibulum dapibus ut nec mauris. Praesent ornare quis arcu sed vehicula. Pellentesque id odio orci. Mauris egestas ante et lorem sagittis, laoreet maximus nibh dapibus. Praesent pellentesque sed magna ut egestas. Phasellus vel mattis diam, eleifend ultrices risus.</p>

        <p>Phasellus eget tempus neque. Aliquam erat volutpat. Sed quam erat, pellentesque in pulvinar vitae, venenatis vitae enim. Maecenas at pellentesque diam. Vivamus ligula nisi, posuere vitae accumsan ut, varius et lectus. Nulla nec orci vel mauris vulputate vestibulum in quis ipsum. Aenean in turpis nec dui egestas vehicula.</p>

        <p>Nunc a interdum purus. Fusce pretium ipsum id augue euismod, at euismod neque rutrum. Morbi ligula tortor, rutrum blandit ipsum eu, finibus tincidunt eros. Ut nec laoreet leo. Sed pretium dictum lectus, et ornare dolor eleifend ut. Sed fermentum eget libero non egestas. Duis congue libero ut dolor rutrum, a ultricies arcu auctor. Nullam posuere rutrum risus sollicitudin condimentum. Fusce condimentum eros at tortor egestas congue. Morbi vel dui vitae nulla laoreet pulvinar. Nullam ac nibh ac quam euismod ullamcorper at vel neque.</p>

        <p>Praesent nibh lorem, tristique at nisi et, cursus ultrices turpis. Donec pulvinar at sem a vehicula. Sed nec gravida metus, sit amet congue nibh. Morbi imperdiet mattis consequat. Aenean accumsan nulla ut tellus scelerisque, in hendrerit ante suscipit. Aenean id fermentum quam. Sed et mauris eu dolor ornare mattis. Phasellus non euismod sem, sit amet aliquam metus. Vestibulum vitae varius turpis.</p>
    </div>
</div>